@using CommunityToolkit.Mvvm.Input
@using Moba.SharedUI.ViewModel
@implements IDisposable

<div class="connection-widget card">
    <div class="card-header">
        <h3>Z21 Connection</h3>
    </div>
    <div class="card-body">
        <div class="form-row">
            <div class="form-group">
                <label>Z21 IP Address:</label>
                <select class="form-control"
                        @bind="ViewModel.Z21IpAddress"
                        disabled="@ViewModel.IsConnected">
                    @foreach (var ip in ViewModel.AvailableIpAddresses)
                    {
                        <option value="@ip">@ip</option>
                    }
                </select>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public CounterViewModel ViewModel { get; set; } = null!;

    protected override void OnInitialized()
    {
        ViewModel.PropertyChanged += OnViewModelPropertyChanged;
    }

    private void OnViewModelPropertyChanged(object? sender, System.ComponentModel.PropertyChangedEventArgs e)
    {
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        ViewModel.PropertyChanged -= OnViewModelPropertyChanged;
    }
}