<div class="azure-nav-menu">
    <nav class="nav-items">
        <NavLink class="nav-item" href="" Match="NavLinkMatch.All">
            <span class="nav-text">Lap Counter</span>
        </NavLink>
    </nav>
</div>

